<!DOCTYPE html>
<html lang="en">

<!--Head of document-->
<head>
    <meta charset="UTF-8"/>
    <title>Add User Story</title>
    <meta name="keywords" content="user-story, sprinter"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1"/> <!--from M.Zelent-->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- responsive web -->
    <link href="{{url_for('static', filename='css/my_style.css')}}" rel="stylesheet" type="text/css"/>
</head>

<!--Body of document-->
<body class="all_page">
    <header id="upper_part">
        <img alt="Autumn leaves" id="leaves" src="{{url_for('static',filename='images/leaves1.png')}}"/>
        <h1>Add User Story</h1>
        <h2>Super Sprinter 3000</h2>
        <nav class="navigation" id="navigation">
            <a href="/list">ALL STORIES</a>
            <a href="/story">ADD STORY</a>
            <a href="#">MAKE A GOOD STORY</a>
            <a href="#">SOURCES</a>
        </nav>
    </header>

    <main>
        <form action="/story" method="post" name="story" class="add_story">

            <label for="title">Story Title:</label>
            <input id="title" type="text" name="title" minlength="5" required="required" placeholder="Title of story"/>

            <label for="user_story">User Story:</label>
            <textarea id="user_story" name="user_story" required="required" rows="10" cols="50"
                      placeholder="As a <type of user>, I want <perform some action>, so that I<can achieve some goal> "></textarea>

            <label for="acceptance_criteria">Acceptance Criteria:</label>
            <textarea id="acceptance_criteria" name="acceptance_criteria" required="required" rows="10"
                      cols="50" placeholder="Given/When/Then"></textarea>

            <label for="business_value">Business Value:</label>
            <input id="business_value" type="number" name="business_value" min="100" max="1500" step="100" pattern="d%100=0"
                   required="required">

            <label for="estimation">Estimation:</label>
            <input id="estimation" type="number" name="estimation" min="0.5" max="40" step="0.5" pattern="d%0.5=0"
                   required="required">

            <label for="statuses">Status</label><br>
            <select id="statuses" disabled="disabled">
                {% for status in statuses %}
                <option>{{ status }}</option>
                {% endfor %}
            </select>
            <button class="submit_button" type="submit">Add New User Story</button>
        </form>
    </main>

    <footer>
        <h5 class="copyright" id="copyright">copyright 2018-2019@mw&pk with CC</h5>
        <h5 id="mailto"><a href="mailto:mw23127@gmail.com"> Contact</a></h5>
    </footer>

</body>
</html>
