{% extends "layout.html" %}

{% block title %}Super Sprinter Page{% endblock %}

{% block link %}
<link href="{{url_for('static', filename='css/my_style.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block header_titles %}
<h1 class="sprinter">Super Sprinter 3000</h1>
<h2>All User Stories</h2>
{% endblock %}


{% block main_content %}
<h3>Here you can see all your stories.</h3>
        <table title="List of Stories" class="table" id="stories_table">
            <tr>
                {% for item in headers %}
                    <th>{{item}}</th>
                {% endfor %}
                    <th></th>
                    <th></th>
            </tr>
            {% for story in user_stories %}
            <tr>
                    <td class="table_item">{{ story['id'] }}</td>
                    <td class="table_item">{{ story['title'] }}</td>
                    <td class="table_item" style="white-space: pre-line">{{ story['user_story'] }}</td>
                    <td class="table_item" style="white-space: pre-line">{{ story['acceptance_criteria'] }}</td>
                    <td class="table_item">{{ story['business_value'] }} point</td>
                    <td class="table_item">{{ story['estimation'] }}h</td>
                    <td class="table_item">{{ story['status'] }}</td>
                    <td class="table_button">
                        <a href="/story/{{ story['id'] }}">
                            <button class="button" name="edit" type="submit" title="Edit Story">EDIT</button>
                        </a>

                    </td>
                    <td class="table_button">
                        <a href="/story/delete/{{ story['id'] }}">
                            <button class="button" name="delete" type="submit" title="Delete Story">DELETE</button>
                        </a>
                    </td>
            </tr>
            {% endfor %}
         </table>
{% endblock %}
