<!DOCTYPE html>
<html lang="en">

<!--Head of the document -->
<head>
    <meta charset="UTF-8"/>
    <title>Super Sprinter Page</title>
    <meta name="keywords" content="user-story, sprinter"/>
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1"/> <!--from M.Zelent-->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- responsive web -->
    <link href="{{url_for('static', filename='css/my_style.css')}}" rel="stylesheet" type="text/css"/>
</head>

<!--Body of document-->
<body class="all_page">

    <header id="upper_part">
        <img alt="Autumn leaves" id="leaves" class="leaves_image" src="{{url_for('static',filename='images/leaves1.png')}}"/>
        <h1 class="sprinter">Super Sprinter 3000</h1>
        <h2>All User Stories</h2>
        <nav class="navigation" id="navigation">
            <a href="/list">ALL STORIES</a>
            <a href="/story">ADD STORY</a>
            <a href="#">MAKE A GOOD STORY</a>
            <a href="#">SOURCES</a>
        </nav>
    </header>

    <main>
        <h3>Here you can see all your stories.</h3>

        <table title="List of Stories" class="table" id="stories_table">
            <tr>
                {% for item in headers %}
                    <th>{{item}}</th>
                {% endfor %}
                    <th></th>
                    <th></th>
            </tr>
            {% for stories in user_stories %}

            <tr>
                {% for item in stories %}
                    <td class="table_item">{{ stories[item] }}</td>
                {% endfor %}
                    <td class="table_button">
                        <a href="/story/{{ stories['id'] }}">
                            <button class="button" name="edit" type="submit" title="Edit Story">EDIT</button>
                        </a>

                    </td>
                    <td class="table_button">
                        <a href="/story/delete/{{ stories['id'] }}">
                            <button class="button" name="delete" type="submit" title="Delete Story">DELETE</button>
                        </a>

                    </td>

            </tr>
            {% endfor %}
         </table>
    </main>
    <footer>
        <h5 id="mailto"><a href="mailto:mw23127@gmail.com"> Contact</a></h5>
        <h5 class="copyright" id="copyright">copyright 2018-2019@mw&pk with CC</h5>
    </footer>
</body>
</html>
