{% extends "layout.html" %}

{% block title %}Sources{% endblock %}

{% block link %}
    <link href="{{ url_for('static', filename='css/my_style.css') }}" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:regular" rel="stylesheet" type="text/css">
{% endblock %}

{% block header_titles %}
    <h1 class="sprinter">Super Sprinter 3000</h1>
    <h2>Helpful Sources</h2>
{% endblock %}

{% block main_content %}
    <main>
        <div class="links">
            <ul class="source_links">
                <li class="s_link"><a href="https://www.w3schools.com/" target="_blank">Many info about CSS and HTML</a>
                </li>
                <li class="s_link"><a
                        href="https://the-awwwesomes.gitbooks.io/html-css-step-by-step/content/pl/index.html"
                        target="_blank">HTML and CSS in polish</a></li>
                <li class="s_link"><a href="http://miroslawzelent.pl/" target="_blank">Many interesting movies about
                    programming by Mirosław Zelent (in polish)</a></li>
                <li class="s_link"><a href="https://codepen.io/" target="_blank">Page with many examples of
                    HTML/CSS/JavaScript wonders!</a></li>
                <li class="s_link"><a
                        href="https://code.tutsplus.com/tutorials/create-a-sticky-note-effect-in-5-easy-steps-with-css3-and-html5--net-13934"
                        target="_blank">How to make sticky note</a></li>
                <li class="s_link"><a href="https://fonts.google.com/" target="_blank">Various fonts</a></li>
                <li class="s_link"><a href="https://pypila.stxnext.pl/blog/flask/" target="_blank">Some info about Flask
                    and
                    Jinja (polish)</a></li>
                <li class="s_link"><a href="https://www.freepik.com/free-photos-vectors/background" target="_blank">Background
                    image created by Lifeforstock - Freepik.com</a></li>
                <li class="s_link"><a href="https://www.favicon.cc/" target="_blank">Favicon help</a></li>
                <li class="s_link"><a
                        href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world"
                        target="_blank">Flask tutorial</a></li>
            </ul>
        </div>
    </main>
{% endblock %}